/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', sans-serif;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */
body {
    font-family: var(--primary-font);
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
    /* margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333; */
}

h1, h2, h3 {
    font-family: var(--secondary-font); 
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header styles */

#header .lead {
    font-family: var(--secondary-font);
}


/* Services */
#services .card-footer {
    background-color: transparent;
    color: var(--highlight-color);
    font-weight: bold;
}

/* This is to create some space in between the cards. The same can be achieved adding mb-3 to each one of the divs in the cards from <div class="col-12 col-md-6 col-xl-3"> to <div class="col-12 col-md-6 col-xl-3 mb-3"> */
#services .card {   
    margin-bottom: 1.5rem;
}



/* Events */

#events .table {
    /* events table font size small enough that 
      the table doesn't overflow on xs screens. 
      Size set back to 1rem in a media query 
      for sm screens and up */
    font-size: 0.7rem;
}

.student-discount {
    background-color: var(--highlight-color);
    font-weight: bold;
    color: white;
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 5px 10px;
    font-size: 0.8rem;
}


/* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}


/* Footer / contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}


/* #services .card-text {
    min-height: 120px;
} */

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* make all service cards the same height for consistency */
    /* I had done this with the commented code right above: #services .card-text and seemed to work too */
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* there is too much space between the text and the card footer with the price, for large screens (992px and onwards). here we are fixing that */
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}


/* grid visualisation CSS for testing */

/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
